.shoptitle {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  align-items: center;
  margin-bottom: 20px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 10px;
  width: 200px;
  height: 300px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 300px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(192, 192, 192);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
 

.product.button {
  color: green;
}

:root {
  --background-color: white;
  --text-color: black;
}

[data-theme='dark'] {
  --background-color: black;
  --text-color: white;
}

.shop {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}
