.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2%;
    padding-right: 10%;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-size: 25px;
  }
  .logo{
    width: 40%;
    flex: 1;
    height: 40%;
  }
